*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: #043873;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
/* utility class */
.container-lg{
    max-width: 1080px;
    margin: 0 auto;
    padding: 1.2rem;    
   
}   



/* Header Part */
.header-flex{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 92px;
    /* border: 1px solid white; */
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 1rem;
    margin-left: 10rem;
    /* border: 1px solid white; */
    
}
ul select{
    background: transparent;
    border: none;
    color: #fff;
    margin-left: -4px;
   
}
ul label{
    color: #ffff;
    font-weight: 500;
}

.header img{
    width: 150px;
    height: 28px;
}

.header .login-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
   /* border: 1px solid white; */

    .login{
       
        padding: 11px 34px;
        background-color: #FFE492;
        border-radius: 8px;
       

        h4{
            font-size: 14px;
            font-weight: 500;
        }
        h4:hover{
            color: #7f6b6b
        }
    }
    .try{
        
        background-color: #4f9cf9;
        border-radius: 8px;
        padding: 11px 19px;
    
        h4{
            font-size: 14px;
            font-weight: 450;
            color: #fff;
        }
    
    }
}



/* main Section1 */

.main-flex{
    display: flex;
    gap: 24px;
    /* border: 1px solid white; */
    height: 565px;
    align-items: center;

    .text{
        /* border: 1px solid white;     */
    
        h2{
            
            color: #fff;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 24px;
            
        }
        h4{
            color: #fff;
            font-size: 11px;
            font-weight: 250;
            line-height: 19px;
            margin-bottom: 40px;
        }
    }
    .text .try1{
        
        background-color: #4f9cf9;
        border-radius: 8px; 
        display: block;
        width: 200px;    
        height: 50px;
    
        h4{
             
            text-align: center;
            height: 100%;
            padding-top: 16px;
            font-size: 15px;
            font-weight: 400;
        }
    }
    
    .image{
        
        /* border: 1px solid white; */
        background-image: url('images/image2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 95%; 
        height: 400px; 
    }
}



/* Main Section2 Design  */

.wrapper{
    background-color: #fff;
    height: 1100px;
}

.wrapper .main-flex{
    .text{
        h2{
            color: black;
            font-size: 50px;
        }
        .underline{
            background-image: url(images/Element.png) ;
            background-repeat: no-repeat ;  
          
        }
        h4{
            font-weight: 300;
            color: black;
            font-size: 12px;
        }
    }
    .try1{
        width: 140px;
        h4{
            color: #fff;
        }
    }
}
  
.wrapper{
    background-image: url(images/Group.png) ;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 0 190px;
    
}

.wrapper .main-flex2{
    flex-direction: row-reverse;
    gap: 2rem;
}


@media(max-width: 500px){
    
    .header-flex{
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
        /* border: 1px solid white; */
        
    }
    .menu{
        margin-left: 1px;
    }

    .main-flex{
        flex-direction: column;
        
    }

   .text{
    margin-top: 30px;
    text-align: center;

   }
   .text .try1{
    display: inline-block;
    margin-bottom: 20px ;
    
   }
}